.topBarContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 48px;
    padding: 0 24px;
    z-index: 1000;
    border-bottom: 1px solid #d6c7b7;
    background: #1a1612;
    box-sizing: border-box;
}

.h2 {
    color: #d6c7b7;
}
