body {
    background-color: #1a1612;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
    gap: 16px;
    overflow: hidden;
    background-image:
        radial-gradient(circle, #2a2622 1.5px, transparent 1.5px),
        radial-gradient(circle, #23201c 1.5px, transparent 1.5px);
    background-size: 28px 28px;
    background-position:
        0 0,
        14px 14px;
}
h1 {
    font-size: 48px;
    color: #d6c7b7;
    margin: 16px;
}

p {
    font-size: 16px;
    color: #d6c7b7;
}

@media (max-width: 600px) {
    h1 {
        font-size: 32px;
    }
    p {
        font-size: 14px;
    }
}
