body {
    background-color: #1a1612;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
    gap: 16px;
    overflow: hidden;
}
h1 {
    font-size: 48px;
    color: #d6c7b7;
    margin: 16px;
}

p {
    font-size: 16px;
    color: #d6c7b7;
}
